<%= form_with(model: picture, local: true, url: choose_new_or_edit) do |form| %>
  <% if picture.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(picture.errors.count, "error") %> prohibited this picture from being saved:</h2>

      <ul>
      <% picture.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :image %>
    <p>
      <%= image_tag(@picture.image.url) if @picture.image && @picture.image.url %>
    </p>
    <%= form.file_field :image %>
    <%= form.hidden_field :image_cache %>
  </div>

  <div class="field">
    <%= form.label :content %>
    <%= form.text_area :content %>
  </div>

  <% if action_name == 'new' || action_name == 'create' %>
    <%= form.hidden_field :user_id, :value => current_user.id %>

    <div class="actions">
      <%= form.submit %>
    </div>
  <% elsif action_name == 'edit' %>
    <%= form.hidden_field :user_id, :value => @picture.user_id %>

    <% if current_user && @picture.user_id == current_user.id %>
      <div class="actions">
        <%= form.submit %>
      </div>
    <% end %>
  <% end %>
<% end %>
