<div class="container">
  <p>
    <strong>Image:</strong>
    <%= image_tag(@picture.image.url) if @picture.image && @picture.image.url %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= @picture.content %>
  </p>

  <% if current_user %>
    <% unless @picture.user_id == current_user.id %>
      <% if @favorite.present? %>
        <p>
          <%= link_to 'お気に入り解除する', favorite_path(id: @favorite.id), method: :delete, class: 'btn btn-danger' %>
        </p>
      <% else %>
        <p>
          <%= link_to 'お気に入りする', favorites_path(picture_id: @picture.id), method: :post, class: 'btn btn-primary' %>
        </p>
      <% end %>
    <% end %>
  <% end %>

  <%= link_to 'Edit', edit_picture_path(@picture) %> |
  <%= link_to 'Back', pictures_path %>
</div>
